<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center" > Hora de começar o treino!</mat-card-title>
        <mat-card-content fxLayoutAlign="center" fxLayoutGap="1000px"> 
            <mat-form-field appearance="fill" fxLayoutAlign="center">
                <mat-label>Exercícios</mat-label>
                <mat-select placeholer="Exercícios">
                  <mat-option value="crunches"> Abdominais </mat-option>
                  <mat-option value="touch-toes"> Tocar nos pés </mat-option>
                  <mat-option value="side-lunges"> Lunges  </mat-option>
                  <mat-option value="side-lunges"> Flexão  </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-button color = "accent">Iniciar</button>
        </mat-card-actions>
    </mat-card>
</section>
