<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <p>I am the sidenac</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="accent"> 
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a routerLink="/">LOGO</a>
            </div>
 
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs >
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/signup">CADASTRAR</a></li>
                    <li><a routerLink="/login">LOGIN</a></li>
                    <li><a routerLink="/training">TREINAMENTO</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet> <!-- diz ao angular onde encaminhar -->
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <button (click) = "sidenav.toggle()">Mostrar Sidenav</button>   O toggle é para fazer abrir ou fechar -->
