<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
        <h1>ATIVIDADE</h1>
        <p>Permaneça ativo e desfrute de uma saúde melhor com mais diversão</p>
    </section>

    <section>
        <h1>COMUNIDADE</h1>
        <p>Conheça novas pessoas para partilhar sua paixão</p>
    </section>

    <section>
        <h1>DESAFIO</h1>
        <p>Nunca pare! Mergulhe em novos desafios todos os dias.</p>
    </section>
</div>